$color_1: #bdbdbd;
$color_2: #f15d44;
$color_3: #111111;
.blog-cont
{
    margin-top: 100px;
    margin-bottom: 40px;
	
}
.blog-section {
	padding-bottom: 50px;
  
}
.image-boxs
{
	width: 330px;
		height: 230px;
		overflow: hidden;
	
}

.single-blog-item {

	width: 100%!important;
	margin-bottom: 42px;
	
	img {
	width: 100%;
		margin-bottom: 30px !important;
		margin-left: 0px !important;
		margin-top: 0px !important;
		&:hover
		{
			transform: scale(1.1);
		}
	}
	.blog-widget {
		padding-top: 20px;
		margin-bottom: 10px;
		.bw-date {
			font-size: 14px;
			color: $color_1;
			display: inline-block;
			margin-right: 8px;
		}
		.tag {
			font-size: 14px;
			color: $color_2;
		}
	}
	h4 {
		a {
			color: $color_3;
			font-weight: 600;
			font-size: 24px;
			line-height: 30px;
			width: 100%;
		}
	}
}
.latest-blog-section {
	padding-bottom: 50px;
	.section-title {
		margin-bottom: 55px;
	}
}
.latest-blog-section.recommend {
	padding-top: 0;
	h3 {
		font-weight: 600;
		color: $color_1;
		text-transform: uppercase;
		margin-bottom: 52px;
	}
}
.container .box-container{
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 29%));
   
    gap: 30px;
   
}


@media (min-width:500px) {
	.single-blog-item
	{
		
		h4{
			display: flex;
			width: 33rem;
			
		}
	}
	.blog-widget
	{
		width: 33rem;
		
		display: flex!important;
	}
}