$color_1: #111111;
$color_2: #f15d44;
$color_3: #000000;
$color_4: #ffffff;
$color_5: #6b6b6b;

.classes-timetable {
	padding-top: 10px;
padding-bottom: 50px;
	.nav-controls {padding-top: 20px;
		text-align: center;
		margin-bottom: 42px;

		ul {
			li {
				list-style: none;
				font-size: 16px;
				color: $color_1;
				font-weight: 600;
				display: inline-block;
				margin-right: 48px;
				text-transform: uppercase;
				-webkit-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
				cursor: pointer;

				&:hover {
					color: $color_2;
				}

				&:last-child {
					margin-right: 0;
				}
			}

			li.active {
				color: $color_2;
			}
		}
	}
}

.schedule-table.filtering {
	.ts-item {
		opacity: 0;
	}

	.ts-item.show {
		opacity: 1;
	}
}



	table {
		width: 100%;
		text-align: center;
		border: 1px solid #e1e1e1;

		thead {
			border: 1px solid #e1e1e1;

			tr {
				border: 1px solid #e1e1e1;

				th {
					border: 1px solid #e1e1e1;
					text-align: center;
					font-size: 16px;
					color: $color_3;
					font-weight: 600;
					text-transform: uppercase;
					padding: 25px 0;
					background: #f0f0f0;
				}
			}
		}

		tbody {
			border: 1px solid #e1e1e1;

			tr {
				border: 1px solid #e1e1e1;

				td {
					border: 1px solid #e1e1e1;
					width: 146px;
					background: #ffffff;

					padding: 18px 0;
					position: relative;
					z-index: 1;

					&:after {
						position: absolute;
						left: 0;
						top: 0;
					border: 1px solid #e1e1e1;
						width: 100%;
						height: 100%;
						background: -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831));
						background: -o-linear-gradient(left, #eb3c5a, #f67831);
						background: linear-gradient(to right, #eb3c5a, #f67831);
						content: "";
						opacity: 0;
						z-index: -1;
						-webkit-transition: all 0.5s;
						-o-transition: all 0.5s;
						transition: all 0.5s;
					}

					h6 {
						font-weight: 600;
						color: $color_2;	
						text-transform: uppercase;
						margin-bottom: 5px;
					}

					span {
						font-size: 14px;
						font-weight: 600;
						color: $color_1;
					}

					.trainer-name {
						font-size: 14px;
						color: $color_5;
					}
				}

				td.ts-item {
					-webkit-transition: all 0.4s;
					-o-transition: all 0.4s;
					transition: all 0.4s;
				}

				td.hover-bg {
					&:hover {
						h6 {
							color: $color_4;
						}

						span {
							color: $color_4;
						}

						.trainer-name {
							color: $color_4;
						}

						&:after {
							opacity: 1;
						}
					}
				}

				td.workout-time {
					font-size: 16px;
					color: $color_3;
					font-weight: 600;
					text-transform: uppercase;
				}
			}
		}
	}
