$color_1: #111111;
$color_2: #ffffff;
$color_3: #fff;
$color_4: orangered;
$color_5: #444;
$color_6: #777;
$font-family_1: 'Poppins', sans-serif;
$background-color_1: rgba(0, 0, 0, 0.517);
$background-color_2: rgb(246, 120, 49);

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap";
* {
	font-family: $font-family_1;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}
.div-slick {
	width: 100%;
	padding-bottom: 50px;
	h2.heading {
		color: $color_1;
		font-size: 40px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		padding: 30px;
	}
}
.container {
	.box-container {
		display: grid;
		width: 100%;
		align-items: center;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(350px, 29%));
		gap: 15px;
		.box {
			width: 350px;
			background: #fff;
			height: 255px;
			text-align: left;

			transform: scale(1);
            .text-img
            {
                padding-left: 20px;
            }
			img {
				object-fit: contain;
			}
			h3 {
				color: $color_5;
				font-size: 22px;
				padding: 10px 0;
			}
			p {
				color: $color_6;
				font-size: 15px;
				line-height: 1.8;
			}
			
			}
		
	}
}
.box {
	position: relative;
	overflow: hidden;
}
.text-img {
	position: absolute;
	top: 68.5%;
	background-color: $background-color_1;
	width: 100%;
	height: 80px;
	h4 {
		font-size: 22px;
		font-weight: 600;
		color: $color_2;
	}
	p {
		color: $color_3 !important;
	}
}
.div-img1 {
	width: 100%;
	height: 255px;
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-size: cover;
	transition: transform 2s;
	&:hover {
		transform: scale(1.5);
	}
}
.div-img2 {
	width: 100%;
	height: 255px;
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-size: cover;
	transition: transform 2s;
	&:hover {
		transform: scale(1.5);
	}
}
.div-img3 {
	width: 100%;
	height: 255px;
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-size: cover;
	transition: transform 2s;
	&:hover {
		transform: scale(1.5);
	}
}
.div-img4 {
	width: 100%;
	height: 255px;
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-size: cover;
	transition: transform 2s;
	&:hover {
		transform: scale(1.5);
	}
}
.div-img5 {
	width: 100%;
	height: 255px;
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-size: cover;
	transition: transform 2s;
	&:hover {
		transform: scale(1.5);
	}
}
.div-img6 {
	width: 100%;
	height: 255px;
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-size: cover;
	transition: transform 2s;
	&:hover {
		transform: scale(1.5);
	}
}
.div-img7 {
	width: 100%;
	height: 255px;
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-size: cover;
	transition: transform 2s;
	&:hover {
		transform: scale(1.5);
	}
}
.div-img8 {
	width: 100%;
	height: 255px;
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-size: cover;
	transition: transform 2s;
	&:hover {
		transform: scale(1.5);
	}
}
.div {
	&-img1 { background-image: url("../../../../../img/blog/../classes/classes-1.jpg");
}
&-img2 {
	background-image: url("../../../../../img/blog/../classes/classes-2.jpg");
}
&-img3 {
	background-image: url("../../../../../img/blog/../classes/classes-3.jpg");
}
&-img4 {
	background-image: url("../../../../../img/blog/../classes/classes-4.jpg");
}
&-img5 {
	background-image: url("../../../../../img/blog/../classes/classes-5.jpg");
}
&-img6 {
	background-image: url("../../../../../img/blog/../classes/classes-6.jpg");
}
&-img7 {
	background-image: url("../../../../../img/blog/../classes/classes-7.jpg");
}
&-img8 {
	background-image: url("../../../../../img/blog/../classes/classes-8.jpg");
}
} 
	.control-dots {
		display: flex;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
		position: relative;
	}

.dot {
	&:nth-child(1) {
		display: flex;
		align-items: center;
		width: 10px !important;
		height: 10px !important;
		border-radius: 50% !important;
		border-radius: 20px !important;
	}
	&:nth-child(2) {
		margin-left: -4px !important;
		display: flex;
		align-items: center;
		width: 22px !important;
		height: 7px !important;
		border-radius: 20px !important;
		background-color: $background-color_2 !important;
	}
}
.fa-user {
	color: $color_4;
}
